<div>
  <app-header></app-header>
  <div class="container">
    <app-body></app-body> 
  </div>
</div>


<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="https://scontent.fluh4-1.fna.fbcdn.net/v/t1.18169-9/23517851_306234413116234_2802581633274880431_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=P-N6DbcGLecAX_ueUtk&_nc_ht=scontent.fluh4-1.fna&oh=00_AT9_mAdLumTl8FgSA16K6xs4my7BtSRVfb_tHk6VvutzwQ&oe=61F9AE2E"
  />
  <span>Design Innovation Centre</span>
    
    
</div> -->



<!-- <router-outlet></router-outlet> -->
